
@font-face {
    font-family: DB-Heavent;
    src: url(~/assets/fonts/DB-Heavent/DB-Heavent.ttf);
}

@font-face {
    font-family: DB-Heavent-Med;
    src: url(~/assets/fonts/DB-Heavent/DB-Heavent-Med.ttf);
}

@font-face {
    font-family: Fredoka;
    src: url(~/assets/fonts/Fredoka/Fredoka-VariableFont_wdth,wght.ttf);
}


@font-face {
    font-family: DB-Heavent-Bold;
    src: url(~/assets/fonts/DB-Heavent/DB-Heavent-Bold.ttf);
}

@font-face {
    font-family: Inter-Black;
    src: url(~/assets/fonts/Inter/Inter-Black.ttf);
}

@font-face {
    font-family: Inter-Bold;
    src: url(~/assets/fonts/Inter/Inter-Bold.ttf);
}

@font-face {
    font-family: Athiti-Bold;
    src: url(~/assets/fonts/Athiti/Athiti-Bold.ttf);
}

@font-face {
    font-family: Inter-ExtraBold;
    src: url(~/assets/fonts/Inter/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: Inter-ExtraLight;
    src: url(~/assets/fonts/Inter/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: Athiti-ExtraLight;
    src: url(~/assets/fonts/Athiti/Athiti-ExtraLight.ttf);
}

@font-face {
    font-family: Inter-Light;
    src: url(~/assets/fonts/Inter/Inter-Light.ttf);
}

@font-face {
    font-family: Athiti-Light;
    src: url(~/assets/fonts/Athiti/Athiti-Light.ttf);
}

@font-face {
    font-family: Inter-Medium;
    src: url(~/assets/fonts/Inter/Inter-Medium.ttf);
}

@font-face {
    font-family: Athiti-Medium;
    src: url(~/assets/fonts/Athiti/Athiti-Medium.ttf);
}

@font-face {
    font-family: Inter-Regular;
    src: url(~/assets/fonts/Inter/Inter-Regular.ttf);
}

@font-face {
    font-family: Athiti-Regular;
    src: url(~/assets/fonts/Athiti/Athiti-Regular.ttf);
}

@font-face {
    font-family: Inter-SemiBold;
    src: url(~/assets/fonts/Inter/Inter-SemiBold.ttf);
}

@font-face {
    font-family: Athiti-SemiBold;
    src: url(~/assets/fonts/Athiti/Athiti-SemiBold.ttf);
}

@font-face {
    font-family: Inter-Thin;
    src: url(~/assets/fonts/Inter/Inter-Thin.ttf);
}


@font-face {
    font-family: SF-Pro;
    src: url(~/assets/fonts/SF-Pro/SF-Pro.ttf);
}

@font-face {
    font-family: SF-Semi;
    src: url(~/assets/fonts/SF-Pro/SFProText-SemiBold.ttf);
}

@font-face {
    font-family: SF-Med;
    src: url(~/assets/fonts/SF-Pro/SFProText-Medium.ttf);
}


@font-face {
    font-family: SF-Light;
    src: url(~/assets/fonts/SF-Pro/SFProText-Light.ttf);
}
@font-face {
    font-family: SF-Heavy;
    src: url(~/assets/fonts/SF-Pro/SFProText-Heavy.ttf);
}
@font-face {
    font-family: SF-Bold;
    src: url(~/assets/fonts/SF-Pro/SFProText-Bold.ttf);
}

@font-face {
    font-family: SF-TH-Semi;
    src: url(~/assets/fonts/SF-Pro/SF-TH-Semi.ttf);
}

@font-face {
    font-family: SF-TH;
    src: url(~/assets/fonts/SF-Pro/SFProTH.woff2);
}


.Inter-Black {
    font-family: Inter-Black
}

.Inter-Bold {
    font-family: Inter-Bold, Athiti-Bold
}

.Inter-ExtraBold {
    font-family: Inter-ExtraBold
}

.Inter-ExtraLight {
    font-family: Inter-ExtraLight, Athiti-ExtraLight
}

.Inter-Light {
    font-family: Inter-Light, Athiti-Light
}

.Inter-Medium {
    font-family: Inter-Medium, Athiti-Medium
}

.Inter-Regular {
    font-family: Inter-Regular, Athiti-Regular
}

.Inter-SemiBold {
    font-family: Inter-SemiBold, Athiti-SemiBold
}

.Inter-Thin {
    font-family: Inter-Thin
}

.DB-Heavent {
    font-family: DB-Heavent
}

.DB-Heavent-Med {
    font-family: DB-Heavent-Med
}

.DB-Heavent-Bold {
    font-family: DB-Heavent-Bold
}

.Fredoka {
    font-family: Fredoka
}

.SF-Pro {
    font-family: SF-Pro
}

.SF-Semi {
    font-family: SF-Semi
}

.SF-Med{
    font-family: SF-Med
}

.SF-Light{
    font-family: SF-Light
}
.SF-Heavy{
    font-family: SF-Heavy
}
.SF-Bold {
    font-family: SF-Bold

}

.SF-TH-Semi {
    font-family: SF-TH-Semi , SF-Semi
}

.SF-TH {
    font-family: SF-TH, SF-Pro
}


/* local css  */

.bg-nav{
    @apply bg-[linear-gradient(180deg,rgba(32,45,65,1)_0%,rgba(43,66,101,0.06206232492997199)_100%)];

}

.header {
    @apply text-[1rem] text-[#FF7A00];
}

.th-header {
    @apply  SF-TH-Semi text-[#2B2B2B] text-[1.5rem];
}

.button-orange {
    @apply bg-[#FF7A00] hover:bg-yellow-500 rounded-full text-center text-white;
}

.image-type {
    @apply h-auto object-cover;
}

.image-full{
    @apply w-full h-auto;
}

.image-full-re{
    @apply w-full h-auto relative;
}

.image-full-ab{
    @apply w-full h-auto absolute object-cover;
}

.image-ab {
    @apply absolute  h-auto object-cover;
}

.f-row{
    @apply flex flex-row;
}
.f-col{
    @apply flex flex-col;
}
.i-center {
    @apply flex items-center;
}

.j-center {
    @apply flex justify-center;
}
.g-center{
    @apply grid justify-center;
}

.col-center {
    @apply flex flex-col items-center justify-center;
}

.f-center{
    @apply flex items-center justify-center;
}

.f-re {
    @apply flex relative;
}

.f-ab {
    @apply flex absolute;
}

.content-w-re{
    @apply w-full h-auto relative;
}
.content-re{
    @apply flex relative h-auto
}


/* css zone 1 */

.first-main-content {
    @apply w-full h-[60vw] bg-image relative overflow-hidden;
}


.bg-image {
    @apply bg-[url("assets/images/ห้องสโม-1.svg")] bg-cover bg-center;
}

.z1-text {
    @apply Fredoka text-white font-semibold ;
}
.z1-header {
    @apply Fredoka text-white font-semibold text-[7vw] ;
}
.z1-header2 {
    @apply Fredoka text-white font-semibold text-[10vw] ;
}
.z1-name-layout{
    @apply ml-[10%] mt-[18%];
}
.img-women{
    @apply image-ab top-[18%] right-[5%] w-[23%];
}
.img-men{
    @apply image-ab top-[13%] right-[18%] w-[25%];
}
.bt-z1 {
    @apply z1-text button-orange text-[2vw] px-[4%] py-[1%] ;
}
.bt-z1-sm {
    @apply bg-transparent hover:bg-yellow-500 z1-text border-[3px] px-4 py-3 rounded-[15px] text-center text-white text-[3.5vw];
}



/* css zone 2 */

.bt-orange {
    @apply  text-white  bg-[#FF7A00] rounded-full text-[13px] px-3.5 py-1 w-[6rem];
}

.new-bt {
    @apply text-[#FF7A00] bg-[#FFEBD9] rounded-full text-[13px] px-3.5 py-1 w-[6rem];
}

.z-2-text {
    @apply text-[15px] SF-TH-Semi;
}

.z-2-date {
    @apply text-[15px] text-[#797979] px-2
}

/* css zone 3 */
.z-3-bt{
    @apply rounded-full flex items-center justify-center bg-white shadow text-[10px];
}

.img-z-3-col {
    @apply h-auto w-[100px] rounded-lg;
}

/* css zone 4 */
.rank-card-content {
    @apply flex relative justify-center SF-TH-Semi ml-[7%];

}

.num-rank{
    @apply text-[15vw] text-[#F3F7FD] SF-Bold z-30 ml-[-3vw]  mt-[6vw];
    -webkit-text-stroke: 2px #ff7a00;
    
}

.num-rank-sm{
    @apply text-[34vw] text-[#F3F7FD] SF-Bold z-30 ml-[-1vw]  mt-[25vh] font-medium;
    -webkit-text-stroke: 2px #ff7a00;
    
}

.card-rank {
    @apply  w-[17vw] h-[18vw] max-w-[30vw]  mt-16 bg-white shadow-xl rounded-[15px];
    margin-left:-4vw;
}

.card-img {
    @apply mx-auto w-[7vw] h-auto relative mt-[15%] rounded-full overflow-hidden;
}

.z-4-img {
    @apply object-cover object-center h-auto;
}

.score{
    @apply SF-TH-Semi text-[#FF7A00] text-[1.5vw];
}
.score-sm{
    @apply SF-TH-Semi text-[#FF7A00] text-[4vw];
}
.name{
    @apply text-[1.5vw] SF-TH-Semi;
    
}


/* css zone 6 */

.container-z6{
    @apply container md:max-w-xl p-8 rounded-lg shadow bg-[linear-gradient(280deg,rgb(255_255_255),rgb(232_220_254))];
/*  max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-xl */
}

.carder-header-z6{
    @apply text-[#FF7A00] SF-TH-Semi mb-3 text-[150%] tracking-tight;
}

.card-desc-z6{
    @apply mb-3 SF-TH text-[#2B2B2B] text-[80%];
}

.w-1-2-center {
    @apply flex w-1/2 h-auto justify-center items-center;

}

.img-sm-z6 {
    @apply w-[60vw] h-full uppercase max-w-md p-[5%];
}

/* css zone 7 */

.container-z7{
    @apply container h-full  max-w-[20rem] p-7 bg-white border rounded-lg shadow;
}

.card-head-z7{
    @apply SF-TH-Semi mb-3 text-base tracking-tight text-[#2B2B2B];
}

.card.desc.z7{
    @apply mb-3 SF-TH text-[#2B2B2B] text-sm;
}

/* css footer */
.content-footer {
    @apply w-full h-[30vw] bg-transparent relative overflow-hidden
}

.container-footer{
    @apply flex  justify-start w-full relative text-white mt-[10%];
}

.footer-text{
    @apply SF-TH text-[13px] text-white;
}

.col-footer {
    @apply flex flex-col gap-3 mt-[25px];
}

.header-footer{
    @apply SF-TH-Semi text-[20px] text-white;
}

.icon-z-8{
    @apply w-7 h-7;
}

.content-footer-2{
    @apply mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8;
}

.container-footer-2{
    @apply grid grid-cols-2 sm:gap-6 sm:grid-cols-3 mt-[10%];
}

.bg-footer-image {
    @apply bg-[url("assets/images/wave-footer.svg")] bg-cover w-full h-auto ;
}